{% extends "base.html" %}
{% block main %}
  <h3 class="section">Latest Updates</h3>
    <ul class="entry">
      {% for e in entries %}
      {% include "_entry.html" %}
      {% endfor %}
    </ul>
{% endblock main %}

{% block side %}
<div id="recommended" class="side">
  <h3 class="section">Editor's Choice</h3>
</div>
<div id="featured" class="side">
  <h3 class="section">My Favourites</h3>
  <ul class="entry featured">
  {% for e in featured_entries %}
  {% include "_entry.html" %}
  {% endfor %}
</ul>
</div>
<div id="powered">
  <h3 class="section">Powered by</h3>
  <dl>
    <dt><a href="http://appengine.google.com">AppEngine</a></dt>
    <dd>Simple yet scalable engine for web applications.</dd>
    <dt><a href="http://feedparser.org">Universal Feed Parser</a>
    <dd>Writen in Python by 
    <a href="http://diveintomark.org">Mark Pilgrim</a>. 
    I'd like to support RFC 3023, though I have no idea what exactly it is.</dd>
    <dt>Thanks as well go to:</dt>
    <dd>
    <a href="http://www.vim.org">Vim</a> and 
    <a href="http://www.ubuntu.com">Ubuntu</a>,
    where I code and breath.
    Oh, there is <a href="">git</a> as well.
    </dd>
  </dl>
</div>
{% endblock side %}

{% block footer %}
    <p>D<sup>2</sup>'ed by 
    <a href="http://twitter.com/juvenn">juvenn</a>. 
   You are welcomed to contact me at: machese+microupdater AT gmail.com 
{% endblock footer %}
