<!--Section Release-->
<h3 class="section">
  <span>Next Release</span>
</h3>
  <ul class="rls">
    {% for r in rls %}
    <li class="release">
    <span class="date">{{ r.release_at|date:"" }}</span>
    <a href="{{r.link}}">{{ r.title }}</a>
    {% if r.location %}
    @ <span class="location">r.location</span>
    {% endif %}
    </li>
    {% endfor %}
  </ul>
  <div id="twitter">
      <img src="/static/images/twitter.png">
    <span>
      BroadCast Yours
    </span>
    <p class="tweet">
    @<a href="http://twitter.com/microupdater">microupdater</a>
    YOUR PRODUCT MILESTONE will be released on DATE TIMEZONE,
    LOCATION LINK
    </p>
  </div>
