<!--Section Release-->
  <ul class="rls">
    {% for r in rls %}
    <li class="release">
    <span class="date">{{ r.release_at|date:"" }}</span>
    <a href="{{r.link}}">{{ r.title }}</a>
    {% if r.location %}
    @ <span class="location">r.location</span>
    {% endif %}
    </li>
    {% endfor %}
  </ul>
   <iframe id="iCal" src="http://www.google.com/calendar/embed?title=Next%20Updates&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=280&amp;wkst=1&amp;hl=en&amp;bgcolor=%23FFFFFF&amp;src=9octudj0t96utuvobboupu95lc%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=Etc%2FGMT"></iframe>
  <div id="twitter">
      <img src="/static/images/twitter.png">
    <span>
      Twit Yours
    </span>
    <p class="tweet">
    @<a href="http://twitter.com/microupdater">microupdater</a>
    YOUR PRODUCT MILESTONE will be released on DATE TIMEZONE,
    LOCATION LINK
    </p>
  </div>
