<!DOCTYPE html 
      PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head profile="http://www.w3.org/2005/10/profile">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="icon" href="asset/images/favicon.png" type="image/png" />
  <link rel="stylesheet" href="asset/layout.css" type="text/css" />
  <title>Updater - What's New</title>
</head>
<body>

    <div id="nav">
      <ul id="menu" class="nomarker">
	<li>Updater<sup style="color:#0359c9">0.1</sup></li>
	<li class="{{alltab|default:"off"}}"><a href="/">All</a></li>
	<li class="{{webtab|default:"off"}}"><a href="/web">Web</a></li>
	<li class="{{desktoptab|default:"off"}}"><a href="/desktop">Desktop</a></li>
	<li class="{{mobiletab|default:"off"}}"><a href="/mobile">Mobile</a></li>
      </ul>
    </div>
  <div id="head">
    {% block head %}
   {% endblock head %}
  </div>
  <!-- End div#head -->

  <div id="container">

    <div id="side">
      {% block side %}

      {% endblock side %}
    </div>
    <!-- End div#side -->

    <div id="main">
      {% block main %}
      {% endblock main %}
    </div>
    <!-- End div#main -->

  </div>
  <!-- End div#container -->

  <div id="foot"><p>Copyright (c) 2008. Thanks for your visiting, UPDATER is still in an early prototype stage, and will be improved later. Remember checking it some day later.</p>
  </div>
  <!-- End div#foot -->
</body>
</html>
