{% extends "base.html" %}
{% block head %}
<div id="top-featured" class="featured">
  <h3 class="featured-title">Exclusively Featured</h3>
  <h4>{{exclusive_entry.channel.producer}} / <a href="{{exclusive_entry.link}}">{{exclusive_entry.title}}</a></h4>
  <p>{{exclusive_entry.summary|truncatewords:50|removetags:"p br div ul"}}</p>
</div>
{% endblock head %} 

{% block main %}
<ul class="entry-list nomarker">
  {% for e in entries %}
  <li>
  <div class="dateline"><span class="timestamp">{{ e.updated|timesince }} ago</span></div>
  <p class="entry">
  <span class="entry-title">
    {{ e.channel.producer }} /
    <a href="{{ e.link }}">{{ e.title }}</a></span> - {{ e.summary|truncatewords:40|removetags:"p div br ul" }}
  </p>
  </li>
  {% endfor %}
</ul>
{% endblock main %}

{% block side %}
<div id="side-featured" class="side featured">
  <h3 class="featured-title">Featured</h3>
  <ul class="entry-list nomarker">
  {% for e in featured_entries %}
  <li>
  <div class="dateline"><span class="timestamp">{{ e.updated|date:"D, M j T" }}</span></div>
  <p class="entry">
  <span class="entry-title">{{ e.channel.producer }} /
  <a href="{{ e.link }}">{{ e.title }}</a></span> - {{ e.summary|truncatewords:40|removetags:"p div br ul" }}
  </p>
  </li>
  {% endfor %}
</ul>
</div>
<div id="sidenote" class="side">
  <div class="secline"><h3 class="sectitle">About</h3></div>
  <p>What's New? <a href="http://www.memiary.com">Memiary</a> launched,  <a href="http://friendfeed.com">FriendFeed</a> updated(<a href="http://blog.friendfeed.com">IM integration</a>), or maybe <a href="http://www.google.com/chrome">Google Chrome</a> for Linux will going out.  UPDATER aggregates these news from official product blogs or update sources. Items are ordered in a timeline fashion, instead of some rank, making it simple to discover promising yet under-the-radar products. </p>
</div>
<div id="ads" class="side"></div>
{% endblock side %}
