{% extends "base.html" %}
{% block head %}
<div id="top-featured" class="featured">
  <span class="timestamp">{{exclusive_entry.updated|timesince}} ago from 
  <a href="{{exclusive_entry.channel.url}}">{{exclusive_entry.channel.title}}</a></span>
  {{exclusive_entry.channel.producer}}: 
  <a href="{{exclusive_entry.link}}">{{exclusive_entry.title}}</a> 
</div>
{% endblock head %} 

{% block main %}
<ul class="entry-list">
  {% for e in entries %}
  <li class="{%cycle odd,even%}">
  <span class="timestamp">{{e.updated|timesince}} ago from 
    <a href="{{e.channel.url}}">{{e.channel.title}}</a></span>
  {{e.channel.producer}}: <a href="{{e.link}}">{{e.title}}</a>
  {%if e.imgsrc %}
  <img class="entry-img" src="e.imgsrc"/>
  {% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock main %}

{% block side %}
<div id="side-featured" class="side featured">
  <h3 class="featured-title">Featured</h3>
  <ul class="entry-list">
  {% for e in featured_entries %}
  <li class="{%cycle odd,even%}">
  <span class="timestamp">{{e.updated|timesince}} ago from 
    <a href="{{e.channel.url}}">{{e.channel.title}}</a></span>
  {{e.channel.producer}}: <a href="{{e.link}}">{{e.title}}</a>
  </li>
  {% endfor %}
</ul>
</div>
<div id="sidenote" class="side"></div>
<div id="ads" class="side"></div>
{% endblock side %}
