<!DOCTYPE html 
      PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head profile="http://www.w3.org/2005/10/profile">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="icon" href="/static/images/favicon.png" type="image/png" />
  <link title="screen" rel="stylesheet" href="/static/layout.css" type="text/css" />
  <link title="Microupdater River" rel="alternate" type="application/atom+xml" href="http://www.google.com/reader/public/atom/user%2F03873481103047480785%2Flabel%2Friver">
  <title>Microupdater - latest news from product blogs</title>
   <script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAA4Cddab9Phy4pfxGSBzqzPhQC9OJn7sCV5isX-EmQbo3ntX-J5xRtALk9rVAqB93RCNDpVVjzQvuUZg"></script>
   <script type="text/javascript">
    // Google Ajax API
    google.load("prototype", "1.6");
   </script>
</head>
<body>
  <div id="doc4">
  <div id="hd">
    <h1 class="title"><a href="/">Microupdater.<img src="/static/images/sig.png" /></a></h1>
    <h2 class="subtitle">latest news from product blogs</h2>
  </div>

  <div id="bd" class="yui-gc">

    <div id="main" class="yui-u first">
      {% block main %}
      {% endblock main %}
    </div>

    <div id="side" class="yui-u">
      {% block side %}
      {% endblock side %}
    </div>

  </div>

  <div id="ft">
  </div>
</body>
</html>
