<!DOCTYPE html 
      PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head profile="http://www.w3.org/2005/10/profile">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="icon" href="asset/images/favicon.png" type="image/png" />
  <link title="screen layout" rel="stylesheet" href="asset/layout.css" type="text/css" />
  <title>Microupdater - Product News</title>
</head>
<body>

  <div id="hd">
    <h1 class="title">Microupdater</h1>
    <h2 class="subtitle">News from product blogs</h2>
  </div>

  <div id="doc4" class="yui-gc">

    <div class="yui-u first">
      {% block main %}
      {% endblock main %}
    </div>
    <!-- End main column -->

    <div class="yui-u">
      {% block side %}

      {% endblock side %}
    </div>
    <!-- End sidebar -->

  </div>
  <!-- End the container -->

  <div id="ft"><p>D<sup>2</sup>'ed by 
    <a href="http://twitter.com/juvenn">juvenn</a>. Thanks for your visiting. 
    D<sup>2</sup>'ed means developed and designed.</p> 
  </div>
  <!-- End div#foot -->
</body>
</html>
