{% extends "base.html" %}

{% block main %}
  <div class="section">
  {{ entries }}
  </div>
{% endblock main %}

{% block side %}
  <div id="linkd" class="section">
    <span>
      <img src="" />
      <a href="mail:d2@microupdater.com">Mail</a>
    </span>
    <span>
      <img src="" />
      <a href="http://twitter.com/microupdater">Twitter</a>
    </span>
    <span>
      <img src="" />
      <a href="">FriendFeed</a>
    </span>
  </div>
  <div class="section">
  {{ release }}
  </div>
  <div id="sponsor" class="section">
  {{ sponsors }}
  </div>
{% endblock side%}
