
body {
  font-family: "Lucida Grande", "Droid Sans", sans-serif;
  background-color: #999;
  padding: 0 8%;
}

a { text-decoration: none; }
a:visited { color: #004ca3; }
a:link { color: #0076d0; }
a:hover { text-decoration: underline; }

#doc3 { background-color: #fff; border-top: solid 5px #000; }
.time { color: #d69300; }

#hd {
  color: #666;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 4em;
  border-bottom: solid 4px #ccc;
}

h1.title {
  font-family: Impact, sans-serif;
  font-size: 44px;
  background-image: url("/media/images/color-bar.png");
  background-position: bottom left;
  background-repeat: no-repeat;
}

h1.title a:link, h1.title a:visited { color: #000; }
h1.title a:hover { color: #0076d0; text-decoration: none; }
h2.subtitle { color: #666; font-size: 2.4em; padding-top: .2em; }
#logo { float: right; width: 30%; text-align: left; }

.yui-gc div.first { width: 66.8%; border-right: solid 2px #ccc; }
div.section { margin: 1em 2em; }
#side { margin-left: 0; }

h3.section {
  color: #666;
  font-variant: small-caps;
  margin: 1em 0;
  border-bottom: solid 1px #ccc;
}
h3.section span {
  top: .5em;
  position: relative;
  padding-right: .4em;
  background-color: #fff;
}

.collection { margin-left: .5em; }
li.item { color: #333; line-height: 1.4em; padding: .6em; }
li.item .channel:after { content: " / "; }
li.item .channel,
li.item .title { font-size: 1.2em; text-transform: capitalize; }
li.item .meta { font-size: .86em; }
li.item .meta .author { font-weight: bold; }

#featured { border: solid 1px #ddd; background-color: #eef; }
#featured h3 { font-size: 1.2em; margin-top: .5em; }
#featured h3 span { background-color: #eef; top: 0; left: 1em; }

#ft { color: #999; padding: 1em 3em; border-top: solid 2px #ccc; }
#ft p { padding-top: .5em; }
#links { font-size: 1.2em; }
