
body {
  font-family: "Lucida Grande", "Droid Sans", sans-serif;
  background-color: #999;
  padding: 0 8%;
}

a { text-decoration: none; }
a:visited { color: #004ca3; }
a:link { color: #0076d0; }
a:hover { text-decoration: underline; }
em { color: #d69300; }

#doc3 { background-color: #fff; border-top: solid 5px #000; }

#hd {
  color: #666;
  padding: 3em;
  border-bottom: solid 4px #ccc;
}
#hd a:link, #hd a:visited { color: #000; }
#hd a:hover { color: #0076d0; text-decoration: none; }

h1.heading .title { font-family: Impact; font-size: 4em; }
h1.heading .subtitle { color: #666; font-size: 1.5em; }

#bd { padding: 0 1em; }
.yui-gc div.first { width: 66%; border-right: solid 2px #ccc; }
div.section { margin: 1em; }

#side { margin-left: 0; }

h3.section {
  color: #666;
  font-variant: small-caps;
  margin: 1em 0;
  border-bottom: solid 1px #ccc;
}
h3.section span {
  top: .5em;
  position: relative;
  padding-right: .4em;
  background-color: #fff;
}

.collection { margin-left: .5em; }
ol li.item { list-style: decimal inside; }
li.item { color: #333; line-height: 1.4em; padding: .6em; }
li.item .channel:after { content: " / "; }
li.item .channel,
li.item .title { font-size: 1.2em; text-transform: capitalize; }
li.item .meta { font-size: .86em; }
li.item .meta .author { font-weight: bold; }

#featured { border: solid 1px #ddd; background-color: #eef; }
#featured h3 { font-size: 1.2em; margin-top: .5em; }
#featured h3 span { background-color: #eef; top: 0; left: 1em; }

#ft { color: #999; padding: 1em 3em; border-top: solid 2px #ccc; }
#ft p { padding-top: .5em; }
#links { font-size: 1.2em; }
