/**
 * Microupdater Design
 */

@import url("reset-fonts-grids.css");/*TODO: yui hosted url*/

body {
}

a:link {
}
a:hover {
  font-style: oblique;
}
a:visited {
}

/*-------------- in hd--------------- */
#hd {
  font-weight: bold;
  padding-bottom: 1em;
}
h1.title {
  color: #7a0285;
  font-size: 4em;
}
h2.subtitle {
  color: #666;
  font-size: 2em;
}

/*---------------in main--------------------*/
#doc4 {
  padding-bottom: 5em;
}

#featured {
  border: groove 4px #ccc;
}
h3.side {
  color: #7a0285;
  font-size: 2em;
  font-weight: bold;
  font-variant: small-caps;
  padding: .2em;
}
/*-----------in list------------------*/
li.entry {
  color: #333;
  clear: both;
  padding: 1em;
}

li.entry:hover {
  background-color: #ccc;
}

h4.entry {
  font-weight: bold;
  font-size: 1.2em;
  padding: .5em;
}

.timestamp {
  font: small-caption;
  color: #eee;
  padding: .2em;
  border-radius: .2em;
  -moz-border-radius: .2em;
  -webkit-border-radius: .2em;
  background-color: #aaa;
}
img.entry {
  float: right;
  height: 6em;
}

dt {
  font-weight: bold;
  font-size: 1.2em;
}
dd {
  padding: .5em;
}
/*-------------in ft---------------------*/
#ft {
  color: #ccc;
  border-top: inset 4px #333;
  background-color: #666;
}

#ft p {
  padding: 1em;
}
