/**
 * Microupdater Design
 */

body {
  font-family: sans-serif;
  font-size: 80%;
  color: #333;
  background-color: #eee;
  margin: 0;
}

h3 {
  text-transform: uppercase;
  margin: 0;
}

a:link {
  color: #024192;
}
a:visited {
  color: #012656;
}
a:active {
  color: #024192;
}
a:hover {
  color: #0359c9;
  font-style: italic;
}

.nomarker {
  list-style-type: none;
}

.featured {
  padding: .5em;
  margin: auto;
  background-color: #f1f7fe;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
  border-radius: .5em;
}
h3.featured-title {
  color: #024192;
}

/*------------ #head ------------*/

#head {
  width: 974px;
  background-color: #fff;
  padding-top: .2em;
  margin: auto;
}

#top-featured {
  width: 920px;
  height: 100px;
}
#top-featured h3 {
  float: right;
  width: 300px;
}

/*----#navbar---*/
#nav {
  overflow: auto;
  border-bottom: solid #024192 2px;
  background: #000;
}

#menu {
  color: #eee;
  margin: 0;
}

#menu a:visited,
#menu a:active,
#menu a:hover,
#menu a:link {
  color: #eee;
  text-decoration: none;
}

#menu li {
  font-size: 1em;
  font-weight: bold;
  float: left;
  height: 1.6em;
  padding: 0.4em 1.6em 0.2em 1.6em;
}

#menu li:hover, #menu li.on {
  background-color: #012656;
}

/*--------------#container-------------*/

#container {
  width: 974px;
  clear: both;
  overflow: auto;
  background-color: #fff;
  margin: auto;
}

/*-------#side--------*/

#side {
  float: right;
  width: 350px;
}

.side {
  margin: 1em;
}
h3.sectitle {
  display: inline;
  font-size: 1em;
  background: #fff;
}

.secline {
  background-image: url(/asset/images/grey-seperator.gif);
  background-repeat: repeat-x;
}

/*---------#main--------*/

#main {
  float: left;
  width: 600px;
}

.timestamp {
  color: #999;
  display: block;
  font-family: Georgia;
  padding-right: .5em;
  margin-left: -1.5em;
  background: #fff;
}

.entry img {
  float: right;
  border: solid #ccc 1px;
  padding: .2em;
}

/*---------------#foot----------------*/

#foot {
  clear: both;
  color: #999;
  padding: 0.4em 1em;
  border-top: solid #024192 2px;
  background-color: #000;
}

