/**
 * Microupdater Design
 */


body {
  font-family: "Lucida Grande", "Droid Sans", sans-serif;
  background-color: #ccc;
  padding: 0 8%;
}

a {
  text-decoration: none;
}
a:visited {
  color: #004ca3;
}
a:link {
  color: #0076d0;
}
a:hover {
  text-decoration: underline;
}

h1.title a:link,
h1.title a:visited {
  color: #000;
}
h1.title a:hover {
  color: #0076d0;
  text-decoration: none;
}

#doc3 {
  background-color: #fff;
  border-top: solid 5px #000;
}

.time {
  color: #d69300;
}

/*-------------- in hd--------------- */
#hd {
  color: #666;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 4em;
  border-bottom: solid 4px #ccc;
}

#logo {
  float: right;
  width: 30%;
  text-align: left;
}

h1.title {
  font-family: Impact, sans-serif;
  font-size: 44px;
  background-image: url("/media/images/color-bar.png");
  background-position: bottom left;
  background-repeat: no-repeat;
}

h2.subtitle {
  color: #666;
  font-family: "FFF Tusj";
  font-size: 2.4em;
  padding-top: .2em;
}

/*---------------in yui-gc--------------------*/
.yui-gc div.first {
  width: 66.8%;
  border-right: solid 2px #ccc;
}

div#side {
  margin-left: 0;
}
div.section {
  margin: 1em 2em 1em 1em;
}
/*---------------in main--------------------*/
.yui-u {
}

h3.section {
  color: #666;
  font-variant: small-caps;
  border-bottom: solid 1px #ccc;
  margin-top: 1em;
  margin-bottom: 1.5em;
}
h3.section span {
  position: relative;
  top: .5em;
  background-color: #fff;
  padding-right: .4em;
}

/*-----------in list------------------*/
ul.entries {
  margin-left: .5em;
}

li.entry {
  color: #333;
  list-style: none;
  line-height: 1.4em;
  padding: .8em .6em;
}

li.entry .channel,
li.entry .title {
  font-size: 1.2em;
  text-transform: capitalize;
}

li.entry .channel:after {
  content: " / "
}

li.entry .meta {
  font-size: .86em;
}
li.entry .meta .author {
  font-weight: bold;
}

p.entry img {
  max-height: 6em;
  max-width: 6em;
  float: right;
}

/*-------------in #side---------------------*/

#featured {
  border: solid 1px #ddd;
  background-color: #eef;
}

#featured h3 {
  font-size: 1.2em;
  border-bottom: solid 1px #ddd;
  margin-top: .5em;
}
#featured h3 span{
  background-color: #eef;
  top: 0;
  left: 1em;
}

/*-------------in ft---------------------*/
#ft {
  color: #999;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: solid 4px #ccc;
}

#ft p { padding-bottom: .5em; }

#nav { font-size: 1.2em; }

