/**
 * Microupdater Design
 */

@import url("reset-fonts-grids.css");/*TODO: yui hosted url*/

body {
  background-color: #eee;
}

.em {
  font-weight: bold;
  font-style: italic;
}
a:link {
  text-decoration: none;
}
a:hover {
  font-style: italic;
  text-decoration: none;
}
a:visited {
  color: #7a0285;
  text-decoration: none;
}

#ft a:link,
#hd a:link {
  color: #fff;
}
#ft a:hover,
#hd a:hover {
  color: #7a0285;
}
#ft a:visited,
#hd a:visited {
  color: #fff;
}
#doc4 {
  background-color: #fff;
}
/*-------------- in hd--------------- */
#hd {
  font-weight: bold;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #333;
}
h1.title {
  color: #fff;
  font-size: 3.6em;
}

h2.subtitle {
  color: #666;
  font-size: 1.9em;
}

div.side {
  margin-bottom: 1em;
}

.friend-connect {
  border: 1px solid #ccc;
  margin: 0 .5em;
}

ul.link {
  margin-top: 1em;
  margin-left: 1em;
}

li.link {
  font-size: 1.5em;
  list-style: square;
  list-style-position: inside;
}

p.side {
  font-family: Georgia;
  color: #666;
  font-size: 1.2em;
  margin-top: 1em;
  margin-left: 1em;
}

/*---------------in main--------------------*/
.yui-gc {
  padding-top: 1em;
  padding-bottom: 5em;
  border-right: solid 1px #999;
  border-left: solid 1px #ccc;
}

h3.section {
  color: #999;
  font-size: 1.4em;
  font-weight: bold;
  font-variant: small-caps;
  margin-left: .4em;
  border-bottom: solid .1em #ccc;
}
#epi {
  font-size: 1.2em;
  font-weight: bold;
  padding: 1em;
}

/*-----------in list------------------*/
ul.entry {
  margin-left: .5em;
}
li.entry {
  color: #333;
  list-style-image: url("images/entry.png");
  list-style-position: inside;
  padding: .8em .6em;
}

li.entry:hover {
  background-color: #eef;
}

h4.entry {
  display: inline;
  font-weight: bold;
  font-size: 1.2em;
}
p.entry .title {
  font-size: 1.2em;
}
p.entry {
  font-family: Georgia;
}

.timestamp {
  color: #666;
}

img.entry {
  max-height: 6em;
  float: right;
}

/*-------------in ft---------------------*/
#ft {
  color: #999;
  font-size: 1.2em;
  border-top: solid .2em #000;
  background-color: #333;
}

#ft p {
  padding: 1em;
}
