/**
 * Microupdater Design
 */


body {
  font-family: sans-serif;
  background-color: #ccc;
}

a {
  text-decoration: none;
}
a:visited {
  color: #004ca3;
}
a:link {
  color: #0076d0;
}
a:hover {
  text-decoration: underline;
}

h1.title a:link,
h1.title a:visited {
  color: #000;
}
h1.title a:hover {
  color: #0076d0;
  text-decoration: none;
}

#doc4 {
  background-color: #fff;
  border-top: solid 5px #000;
}

.time:after {
  content: " UTC";
}
.time {
  color: #d69300;
}

/*-------------- in hd--------------- */
#hd {
  color: #666;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 4em;
  border-bottom: solid 4px #ccc;
}

#logo {
  float: right;
  width: 30%;
  text-align: left;
}

h1.title {
  font-family: Impact, sans-serif;
  font-size: 44px;
  background-image: url("/static/images/color-bar.png");
  background-position: bottom left;
  background-repeat: no-repeat;
}

h2.subtitle {
  color: #666;
  font-family: Lucida;
  text-transform: uppercase;
  font-size: 2.4em;
  padding-top: .2em;
}

/*---------------in yui-gc--------------------*/
.yui-gc div.first {
  width: 66.8%;
  border-right: solid 2px #ccc;
}

div#side {
  margin-left: 0;
}
div.section {
  margin: 1em 2em 1em 1em;
}
/*---------------in main--------------------*/
.yui-u {
}

h3.section {
  color: #666;
  font-variant: small-caps;
  border-bottom: solid 1px #ccc;
  margin-top: 1em;
  margin-bottom: 1.5em;
}
h3.section span {
  position: relative;
  top: .5em;
  background-color: #fff;
  padding-right: .4em;
}

/*-----------in list------------------*/
ul.entries {
  margin-left: .5em;
}

li.entry {
  color: #333;
  list-style: none;
  line-height: 1.4em;
  padding: .8em .6em;
}

li.entry .channel,
li.entry .title {
  font-size: 1.2em;
  text-transform: capitalize;
}

li.entry .channel:after {
  content: " / "
}

li.entry .meta {
  font-size: .86em;
}
li.entry .meta .author {
  text-transform: capitalize;
}

p.entry img {
  max-height: 6em;
  max-width: 6em;
  float: right;
}

.meta span.connections {
  padding: 0 .2em;
  outline: solid 1px #ccc;
  background-color: #eef;
}
.meta span.connections:hover {
  outline: solid 1px #999;
}
span.connections a:hover {
  text-decoration: none;
}
/*-------------in #side---------------------*/

#iCal {
  color: #666;
  width: 268px;
  height: 280px;
  border: 0;
}

#twitter {
  margin-top: 1em;
}

#twitter span {
  color: #d69300;
  font-size: 1.2em;
  position: relative;
  top: -.8em;
  left: 1em;
}

#twitter p.tweet {
  color: #666;
  padding: .5em 1em;
  border: solid 1px #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #eef;
}

#sponsor {
  border: solid 1px #ddd;
  background-color: #eef;
}

#sponsor h3 {
  font-size: 1.2em;
  border-bottom: solid 1px #ddd;
  margin-top: .5em;
}
#sponsor h3 span{
  background-color: #eef;
  top: 0;
  left: 1em;
}

/*-------------in ft---------------------*/
#ft {
  color: #999;
  font-size: 1.2em;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: solid 4px #ccc;
}

