      {% regroup entries by date as grouped %}
      {% for g in grouped %}
      <h3 class="section">
	<span>{{g.grouper|date:"l, d N"}}</span>
      </h3>
	  <ul class="entries">
	    {% for e in g.list %}
	    <li class="entry">
	      <p class="entry">
	      <span class="channel">
		<a href="{{e.channel.topic}}">{{e.channel.title|truncatewords:5}}</a>
	      </span>
	        <span class="title">
	          <a href="{{e.link}}">{{e.title|truncatewords:10}}</a>
	        </span>
		<span class="summary">{{e.content|striptags|truncatewords:40}}</span>
	      </p>
	    <div class="meta">
	      <span class="time">{{e.updated|timesince}} ago</span>
	      {% if e.author %}
	     - BY <span class="author">{{e.author}}</span>
	      {% endif %}
	    </div>
	    </li>
	    {% endfor %}
	  </ul>
      {% endfor %}
      <hr style="height:.2em;color:black;" />

      {% if next %}
      <a id="next" onclick="nextPage(); return false"
	href="/?next={{next|urlencode}}">MORE</a>
      {% endif %}
