      {% regroup entries by pub_date as grouped %}
      {% for g in grouped %}
      <h3 class="section">
	<span>{{g.grouper|date:"l, d N"}}</span>
      </h3>
	  <ul class="entries">
	    {% for e in g.list %}
	    <li class="entry">
	      <p class="entry">
	      <span class="channel">
		<a href="{{e.channel.blog}}">{{e.channel.title|truncatewords:5}}</a>
	      </span>
	        <span class="title">
	          <a href="{{e.link}}">{{e.title|truncatewords:10}}</a>
	        </span>
		<span class="summary">{{e.summary|striptags|truncatewords:40}}</span>
	      </p>
	    <div class="meta">
	      <span class="time">{{e.published|timesince}} ago</span>
	      {% if e.author %}
	     - BY <span class="author">{{e.author}}</span>
	      {% endif %}
	      {% if e.channel.status %}
	      - <span class="connections">
		<a href="{{e.channel.status}}">Status</a>
	      </span>
	      {% endif %}
	      {% if e.channel.twitter %}
	      - <span class="connections">
		<a href="http://twitter.com/{{e.channel.twitter}}/">Twitter</a>
	      </span>
	      {% endif %}
	      {% if e.channel.friendfeed %}
	      - <span class="connections">
		<a href="http://friendfeed.com/{{e.channel.friendfeed}}">FriendFeed</a>
	      </span>
	      {% endif %}
	    </div>
	    </li>
	    {% endfor %}
	  </ul>
      {% endfor %}
