<!--Section Sponsor Posts-->
<h3 class="section">
  <span>Featured Updates</span>
</h3>
  <ul class="collection">
    {% for e in entries %}
    <li class="item">
    <div class="meta">
    </div>
      <p class="entry">
        <span class="channel">
	  <a href="{{e.channel.link}}">{{e.channel.title|truncatewords:5}}</a>
        </span>
        <span class="title">
	  <a href="{{e.link}}">{{e.title|truncatewords:10}}</a>
	</span>
	<span class="summary">
	  {{e.content|striptags|truncatewords:20}}
	</span>
      </p>
    </li>
    {% endfor %}
  </ul>
