{% extends "base.html" %}

{% block bd %}
  <div id="bd">
    <div class="section">
      <p>
      We're following no more than a few hundreds of lean startup
      blogs. The teams are attacking real issues, and more importantly
      they're doing it excellently, like Rapportive, Dropbox, Zemanta. 
      </p>

      <ol class="collection">
	{% for c in channels %}
	<li class="item">
	<span class="title"><a href="{{c.link}}">{{c.title}}</a></span>
	<span class="url">{{c.topic}}</span>
	[<em class="meta">{{c.status}}</em>]
	</li>
	{% endfor %}
      </ul>
    </div>
  </div>
{% endblock bd %}

