{% extends "base.html" %}

{% block bd %}
  <div id="bd">
    <div class="section">
      <p>
      We're following no more than a few hundreds of lean startup
      blogs. The teams are attacking real issues, and more importantly
      they're doing it excellently, like Rapportive, Dropbox, Zemanta. 
      </p>

      <ol id="" class="collection">
	{% for c in channels %}
	<li class="item">
	<span class="meta">[{{c.status}}]</span>
	<span class="title">{{c.title}}</span>:
	<a href="{{c.topic}}">
	  <span class="url">{{c.topic}}</span>
	</a>
	</li>
	{% endfor %}
      </ul>
    </div>
  </div>
{% endblock bd %}

