{% extends "base.html" %}

{% block main %}
  <div class="section">
  {{ entries }}
  </div>
{% endblock main %}

{% block side %}
  <div class="section">
<!--Section Release-->
  <div id="twitter">
      <img src="/static/images/twitter.png">
    <span>
      Add Your Channel
    </span>
    <p class="tweet">
    @<a href="http://twitter.com/microupdater">microupdater</a>
    YOUR PRODUCT MILESTONE will be released on DATE TIMEZONE,
    LOCATION LINK
    </p>
  </div>
  </div>
  <div id="sponsor" class="section">
  {{ sponsors }}
  </div>
{% endblock side%}
