<html>
  <body>
    <div id="head"></div>
    <div id="body">
      <div id="side"></div>
      <div id="main">
	<ul id="entry-list">
	  {% for it in items %}
	    <li class="entry">
	    <div class="entry-head">
	      <span class="entry-dt">{{ it.updated|time:"h:i A, " }}</span>
	      <cite class="channel-info">
		{{ it.channel.producer }} / <a href="{{ it.channel.link }}">{{ it.channel.title }}</a>
	      </cite>
	    </div>
	    <div class="entry-body">
	      <h4 class="entry-title">
		<a href="{{ it.link }}">{{ it.title }}</a>
	      </h4>
	      <p class="entry-summary">{{ it.summary|truncatewords:200 }}</p>
	    </div>
	    <div class="entry-foot"></div>
	    </li>
	  {% endfor %}
	</ul>
      </div>
    </div>
    <div id="foot"></div>
  </body>
</html>
